.vertcial-text {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 22px;
}
.font-BrownLight {
    font-family: 'BrownLight';
}
.font-Brown {
    font-family: 'Brown';
}
.font-size-47 {
    font-size: 47px;
}